* {
	margin: 0;
	padding: 0;
}

/* HEADER */
.header {
	width: 100%;
	min-height: 50px;
	background-color: red;
}

.busqueda {
	float: right;
}

.logo {
	float: left;
}
/* FIN HEADER */

.contenedor {
	margin: 0 10%;
}

.articulo {

}

.titulo {

}

.formulario {

}

.fecha {

}

.thumb {

}

.extracto {

}

.footer {
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: #093f8b;
}